<app-header></app-header>
<div class="container mt-5">
    <div class="row main-div">
        <h2>Profile Details</h2>
        <button  routerLink = "/home">home</button>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">
                                <img src="" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                                <div class="middle">
                                    <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change" />
                                    <input type="file" style="display: none;" id="profilePicture" name="file" />
                                </div>
                            </div>
                            <!-- <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a href="javascript:void(0);">Basic Info</a></h2>
                                <h6 class="d-block"><a href="javascript:void(0)">1,500</a> Video Uploads</h6>
                                <h6 class="d-block"><a href="javascript:void(0)">300</a> Blog Posts</h6>
                            </div> -->
                            <div class="ml-auto">
                                <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#connectedServices" role="tab" aria-controls="connectedServices" aria-selected="false">Edit Info</a>
                                </li>
                            </ul>
                            <div class="tab-content ml-1" id="myTabContent">
                                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                                    

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">User Id</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{singleUserLoggedIn.id}}
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Name</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{singleUserLoggedIn.firstName}} {{singleUserLoggedIn.lastName}}
                                        </div>
                                    </div>
                                    <hr />
                                    
                                    
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Email</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{singleUserLoggedIn.email}}
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Phone</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{singleUserLoggedIn.phoneNumber}}
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Profession</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{singleUserLoggedIn.profession}}
                                        </div>
                                    </div>
                                    <hr />

                                </div>
                                <div class="tab-pane fade" id="connectedServices" role="tabpanel" aria-labelledby="ConnectedServices-tab">
                                    <!--edit form starts here  -->
                                    <form >
                                         <div>
                                            <label for="firstName">First Name</label>
                                            <input type="text" id="first" name="firstName"
                                            [(ngModel)]="singleUserLoggedIn.firstName"
                                            >
                                         </div>
                                         <div>
                                            <label for="lastName">last Name</label>
                                            <input type="text" id="last" name="lastName"
                                            [(ngModel)]="singleUserLoggedIn.lastName">
                                         </div>
                                         <div>
                                            <label for="email">Email</label>
                                            <input type="text" id="email" name="email"
                                            [(ngModel)]="singleUserLoggedIn.email">
                                         </div>
                                         <div>
                                            <label for="phone">Phone</label>
                                            <input type="number" id="phone" name="phone"
                                            [(ngModel)]="singleUserLoggedIn.phoneNumber">
                                         </div>
                                         <div>
                                            <label for="profession">Profession</label>
                                            <input type="text" id="profession" name="profession"
                                            [(ngModel)]="singleUserLoggedIn.profession">
                                         </div>
                                    </form>
                                    <!-- edit form ends here -->
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>