/* .back-video{
    position: relative;
    right:0;
    bottom:0;
    z-index: -2px;
    top: 5px;
} */
/* mobile */
/* @media screen and (max-width: 440px){
    .back-video{
        width: auto;
        height: 700px;
     }
} */
/* laptop */
/* @media screen and (min-width: 992px){
 .back-video{
   height: auto;
   width: 100%;

 }
}  */
/* laptop */
@media screen and (min-width: 992px) {
  .video_img {
    position: relative;
    width: 100%;
    height: auto;

    top: 0px;
    /* z-index: -1; */
  }
  .heading {
    position: relative;
    width: 851px;
    height: 57px;
    top: -341px;
    left: 114px;
  }
  .heading h1 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 93px;
    /* or 60% */

    letter-spacing: -4.32px;

    color: white;
  }
  .words {
    color: #fdba2f;
  }
  .quotes {
    position: relative;
    left: -4%;
  }
  .quotes-end img {
    transform: rotate(-180deg);
    position: relative;
    left: 88%;
    top: -98%;
  }

  .heading p {
    position: relative;
    width: 232px;
    height: 28.8px;
    left: 67%;
    top: -88%;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 54px;
    letter-spacing: -2.048px;
    text-transform: capitalize;
    color: #f2f2f2;
  }
  .btn-1 {
    position: relative;
    width: 218px;
    height: 42px;
    left: 0px;
    top: -46px;
    color: white;
    align-items: center;
    font-weight: bold;
    background: rgba(204, 204, 204, 0.5);
    box-shadow: 0px 4px 6px rgb(0 0 0 / 30%);
    border-radius: 10px;
  }
  .btn-1:hover {
    background-color: #fdba2f;
    color: black;
  }
  .btn-2 {
    position: relative;
    font-weight: bold;
    width: 218px;
    height: 42px;
    left: 20px;
    top: -46px;
    color: white;
    align-items: center;
    background: rgba(204, 204, 204, 0.5);
    box-shadow: 0px 4px 6px rgb(0 0 0 / 30%);
    border-radius: 10px;
  }
  .btn-2:hover {
    background-color: #fdba2f;
    color: black;
  }
}
/* mobile */
@media screen and (max-width: 440px) {
  .videoimg_mobile {
    position: relative;
    width: 100%;
    height: auto;

    top: 0px;
    z-index: -1;
  }
  .heading {
    position: relative;
    width: 316px;
    height: 48px;
    left: 27px;
    top: -222px;
  }
  .heading h1 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    /* or 111% */

    letter-spacing: -3.53077px;

    color: #f2f2f2;
  }
  .words {
    color: #fdba2f;
  }
  .quotes img {
    position: relative;
    left: -4%;
    width: 14px;
    height: 10px;
  }
  .quotes-end img {
    transform: rotate(-180deg);
    position: relative;
    width: 14px;
    height: 10px;
    left: 300px;
    top: -35px;
  }

  .heading p {
    position: relative;
    width: 232px;
    height: 28.8px;
    left: 52%;
    top: -107%;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 55px;
    letter-spacing: -2.048px;
    text-transform: capitalize;
    color: #f2f2f2;
  }
  .btn-1 {
    position: relative;
    width: 161.22px;
    height: 39.17px;
    left: -1px;
    top: -41px;
    background: rgba(204, 204, 204, 0.5);
    box-shadow: 0px 2px 7px rgb(32 32 32 / 70%);
    border-radius: 7.05714px;
    font-weight: bold;
    color: #f2f2f2;
  }
  .btn-1:hover {
    background-color: #fdba2f;
    color: black;
  }
  .btn-2 {
    position: relative;
    width: 161.22px;
    height: 39.17px;
    left: 165px;
    font-weight: bold;
    color: #f2f2f2;
    top: -80px;
    background: rgba(204, 204, 204, 0.5);
    box-shadow: 0px 2px 7px rgb(32 32 32 / 70%);
    border-radius: 7.05714px;
  }
  .btn-2:hover {
    background-color: #fdba2f;
    color: black;
  }
}
/* .video_img {
  position: relative;
  width: 100%;
  height: auto;

  top: 0px;
  z-index: -1;
} */
