<app-header></app-header>
<div class="container">
    
     <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div *ngIf="!isEmpty">
                <h2 class=" mt-5">Contents of your Cart</h2>
                <p class=" mb-3">Total amount in INR</p>
            </div>
        </div>
        <div class="col-lg-2"></div>
     </div>

    <div class="row">
        
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            
<div *ngIf="!isEmpty;else elseBlock">
    <table class="table">
        <thead>
            <th scope="col">Sr. No</th>
            <th scope="col">Order</th>
            <th scope="col">Cost</th>
        </thead>
        <tbody>
            <tr *ngFor = "let item of _cartService.totalItemsInCart ;let indexOfelement=index;" scope="row">
                <td>{{indexOfelement + 1}}</td>
                <td>{{item.itemName | titlecase}}</td>
                <td>{{item.price | currency:"INR":"symbol"}}</td>
            </tr>
            <tr>
                <td style="font-weight: 900;">Total</td>
                <td></td>
                <td style="font-weight: 900;">{{totalSum.toString() | currency:"INR":"symbol"}} </td>
            </tr>
        </tbody>
    </table>   
</div>
<ng-template #elseBlock>
    <h2 class="text-center m-5">No Item in the cart !!!</h2>
</ng-template>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <button type="button"
            *ngIf="!isEmpty"
            class="btn btn-primary" routerLink = "/settings">Place order</button>
            <button type="button" class="btn btn-light" routerLink = "/home">Home</button>
        </div>
    </div>
</div>
