<app-header></app-header>
<div class="container">
  <h2>Register to Sprink App</h2>
  <form [formGroup]="signupForm" (ngSubmit)="onFormSubmit()">
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputfirstname"
        formControlName="firstName"
        name="firstname"
      />
      <span
        class="text-danger"
        *ngIf="firstName?.hasError('required') && firstName?.touched"
        >Name is Required</span
      >
      <span
        class="text-danger"
        *ngIf="
          !firstName?.hasError('required') &&
          firstName?.touched &&
          (firstName?.hasError('minlength') || firstName?.hasError('maxlength'))
        "
        >Name should be between 2 to 15 character</span
      >
      <span
        class="text-danger"
        *ngIf="
          !firstName?.hasError('required') &&
          firstName?.touched &&
          firstName?.hasError('pattern') &&
          !(
            firstName?.hasError('minlength') || firstName?.hasError('maxlength')
          )
        "
      >
        Please Enter a valid name
      </span>
    </div>
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputlastname"
        formControlName="lastName"
        name="lastname"
      />
    </div>
    <div class="form-group">
      <label for="phoneno">Phone Number</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputphoneno"
        formControlName="phoneNumber"
        name="phoneno"
      />
      <span
        class="text-danger"
        *ngIf="phoneNumber?.hasError('required') && phoneNumber?.touched"
      >
        Phone Number Required
      </span>
      <span
        class="text-danger"
        *ngIf="
          !phoneNumber?.hasError('required') &&
          phoneNumber?.touched &&
          phoneNumber?.hasError('pattern')
        "
      >
        Phone number must be 10 digit number
      </span>
    </div>
    <div class="form-group">
      <label for="Email1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        formControlName="email"
        aria-describedby="emailHelp"
        name="email"
      />
      <span
        class="text-danger"
        *ngIf="email?.hasError('required') && email?.touched"
        >Email Required</span
      >
      <span
        class="text-danger"
        *ngIf="!email?.hasError('required') && email?.invalid && email?.touched"
        >Invalid Email</span
      >
    </div>
    <div class="form-group">
      <label for="Password">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword"
        formControlName="password"
        name="password"
      />
      <span
        class="text-danger"
        *ngIf="password?.hasError('required') && password?.touched"
        >Password is Required</span
      >
      <span
        class="text-danger"
        *ngIf="
          !password?.hasError('required') &&
          password?.touched &&
          password?.hasError('pattern')
        "
      >
        Enter a strong password, ie->1@A
      </span>
    </div>
    <button
      type="submit"
      [disabled]="signupForm.invalid"
      class="btn btn-primary"
      name="create"
    >
      Sign up
    </button>
  </form>
  <a href="#" routerLink="/login">Already a member ? click to signin</a>
</div>

<app-footer></app-footer>
