<app-header></app-header>
<div class="main-section week_menu_main_container">
  <div class="banner-in">
    <div class="banner-wrap week-menu-banner-wrap">
      <div class="parent">
        <div class="banner-in-wrap">
          <div class="banner">
            <img
              class="img img-responsive desktop-only"
              src="https://d3ljlx3hzhder.cloudfront.net/sprink/b2c_assets/images/week_menu_banner.jpg"
              alt=""
            />
            <img
              class="img img-responsive mobile-only"
              src="https://d3ljlx3hzhder.cloudfront.net/sprink/b2c_assets/images/week_menu_banner.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
