<footer>
  <div class="footer-main pt-5">
    <div class="footer-inside">
      <div class="f-logo col-sm-6 col-md-6 col-lg-7 col-xs-12 mb-5">
        <a href="">
          <img
            class="img-responsive img"
            src="https://d3ljlx3hzhder.cloudfront.net/sprink/b2c_assets/images/footer-logo.png"
            alt="logo"
          />
        </a>
      </div>
      <div class="f-social col-sm-3 col-md-3 col-lg-2 col-xs-6 mb-5">
        <h3>Follow US</h3>
        <ul>
          <li>
            <a target="_blank">
              <img
                class="img-responsive img"
                src="https://d3ljlx3hzhder.cloudfront.net/sprink/b2c_assets/images/insta.png"
                alt="insta"
              />
            </a>
          </li>
          <li>
            <a target="_blank">
              <img
                class="img-responsive img"
                src="https://d3ljlx3hzhder.cloudfront.net/sprink/b2c_assets/images/twitter.png"
                alt="twitter"
              />
            </a>
          </li>
          <li>
            <a target="_blank">
              <img
                class="img-responsive img"
                src="https://d3ljlx3hzhder.cloudfront.net/sprink/b2c_assets/images/youtube.png"
                alt="youtube"
              />
            </a>
          </li>
          <div class="clr"></div>
        </ul>
      </div>

      <div
        class="f-contact col-sm-3 col-md-3 col-lg-3 col-xs-3 text-center mb-5"
      >
        <a href="">
          <h3>Contact US</h3>
        </a>
        <p class="font-weight-light font-italic">
          <small>We are available between 10AM - 10PM</small>
        </p>
      </div>
      <div class="clr"></div>
    </div>

    <div class="footer-out">
      <div class="sub-menu">
        <ul>
          <li><a href="">FAQS</a></li>
          <li><a href="">Privacy</a></li>
          <li><a href="">Carrers</a></li>
          <li><a href="">Testimonial</a></li>
          <li><a href="">Terms & Conditions</a></li>
          <li><a href="">Corporate Catering</a></li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright © 2021 - 2022 Sprink</p>
    </div>
  </div>
</footer>
